* {
    -fx-primary: #5867dd;
    -fx-primary-active: #2e40d4;
    -fx-primary-border: #293ccc;
    -fx-secondary: #ffffff;
    -fx-secondary-border: #d4d8e3;
    
    -fx-success: #34bfa3;
    -fx-success-active: #299781;
    -fx-success-border: #268d78;
    -fx-warning: #ffb822;
    -fx-warning-active: #eea200;
    -fx-warning-border: #e19900;
    -fx-info: #36a3f7;
    -fx-info-active: #0a8cf0;
    -fx-info-border: #0985e4;
    -fx-danger: #f4516c;
    -fx-danger-active: #f12143;
    -fx-danger-border: #f01539;
    
    -fx-brand: #716aca;
    -fx-brand-active: #4d44bd;
    -fx-brand-border: #4940b4;
    -fx-accent: #00c5dc;
    -fx-accent-active: #0097a9;
    -fx-accent-border: #008c9c;
    -fx-focus: #9816f4;
    -fx-focus-active: #7c0acd;
    -fx-focus-border: #7509c1;
    -fx-metal: #c4c5d6;
    -fx-metal-active: #a6a7c1;
    -fx-metal-border: #9ea0bc;
    -fx-light: #fff;
    -fx-light-gray: #fafbfd;
    -fx-pink: #FE21BE;
}

.jfx-toggle-button {
     -jfx-toggle-color: -fx-primary-active;
     -jfx-untoggle-color: #FAFAFA;
     -jfx-toggle-line-color: -fx-primary;
     -jfx-untoggle-line-color: #999999;
     -jfx-size: 10.0;
     -jfx-disable-visual-focus: false;
}

.button {
   -fx-font-family: 'Poppins', sans-serif;
    -fx-background-color : #e6eaed;
    /*-fx-text-fill : #e7e5e5;*/
}
.button:hover {
    -fx-background-color : #DFE4E8;
}
.button:pressed, .button.active {
    -fx-background-color : #D5DBE0;
    -fx-text-fill: #5867dd;
}

.text, JFXTextField {
    -fx-font-family: 'Poppins', sans-serif;
}

JFXTextField, JFXDatePicker, JFXComboBox {
    -fx-font-size: 14;
}

.jfx-text-field {
    -fx-font-family: 'Poppins', sans-serif;
    -jfx-label-float: true;
}

.overview-number {
    -fx-font-size: 38;
    -fx-font-weight: bold;
}

.bold {
    -fx-font-weight: bold;
}

.pane, .scroll-pane {
    -fx-background-color: -fx-light-gray;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #D5DBE0;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: white;
}

.title {
   -fx-font-family: 'Poppins', sans-serif;
   -fx-font-size: 38;
   -fx-font-weight: bold;
}

.subtitle {
   -fx-font-family: 'Poppins', sans-serif;
   -fx-font-size: 25;
}

.sidebar-text {
   -fx-font-family: 'Poppins', sans-serif;
   -fx-font-size: 16;
}

.text-1 {
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.text-2 {
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.text-3 {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.list-item, .card {
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-background-insets: 0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 8, 0, 0, 0);
}

.list-item:hover {
    -fx-background-color: #f9f9f9;
}

JFXButton, JFXButton:hover {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 14;
    -fx-display: inline-block;
    -fx-font-weight: 400;
    -fx-text-align: center;
    -fx-white-space: nowrap;
    -fx-vertical-align: middle;
    -fx-user-select: none;
    -fx-border: 1px;
    -fx-border-radius: 0.25em;
    -fx-padding: 0.3em 1em 0.3em 1em;
    -fx-line-height: 1.25;
    -fx-background-radius: 0.25em;
}

.btn-round, .btn-round:hover  {
    -fx-border-color:  #384ad7;
    -fx-border-radius:  20;
    -fx-background-color: transparent;
}

.btn-round-disabled, .btn-round-disabled:hover {
    -fx-border-color: #DDDDDD;
    -fx-border-radius:  20;
    -fx-background-color: transparent;
}

.btn-round-danger, .btn-round-danger:hover  {
    -fx-border-color: -fx-danger;
    -fx-border-radius:  20;
    -fx-background-color: transparent;
}

.btn-round-secondary, .btn-round-secondary:hover  {
    -fx-border-color: -fx-secondary-border;
    -fx-border-radius:  20;
    -fx-background-color: transparent;
}

.btn-round-success, .btn-round-success:hover  {
    -fx-border-color: -fx-success-border;
    -fx-border-radius:  20;
    -fx-background-color: transparent;
}

JFXButton.btn-primary {
    -fx-text-fill: -fx-light;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-primary;
}

JFXButton.btn-primary:hover {
    -fx-background-color: -fx-primary-active;
    -fx-border-color: -fx-primary-border;
}
JFXButton.btn-secondary {
    -fx-background-color: -fx-light;
    -fx-border-color: #ebedf2;
}
JFXButton.btn-secondary:hover {
    -fx-text-fill: #212529;
    -fx-background-color: #d4d8e3;
    -fx-border-color: #ccd1de;
}
JFXButton.btn-success {
    -fx-text-fill: -fx-light;
    -fx-background-color: -fx-success;
    -fx-border-color: -fx-success;
}
JFXButton.btn-success:hover {
    -fx-background-color: -fx-success-active;
    -fx-border-color: -fx-success-border;
}
JFXButton.btn-danger {
    -fx-text-fill: -fx-light;
    -fx-background-color: -fx-danger;
    -fx-border-color: -fx-danger;
}
JFXButton.btn-danger:hover {
    -fx-background-color: -fx-danger-active;
    -fx-border-color: -fx-danger-border;
}
JFXButton.btn-warning {
    -fx-text-fill: -fx-light;
    -fx-background-color: -fx-warning;
    -fx-border-color: -fx-warning;
}
JFXButton.btn-warning:hover {
    -fx-background-color: -fx-warning-active;
    -fx-border-color: -fx-warning-border;
}
JFXButton.btn-accent {
    -fx-text-fill: -fx-light;
    -fx-background-color: -fx-accent;
    -fx-border-color: -fx-accent;
}
JFXButton.btn-accent:hover {
    -fx-background-color: -fx-accent-active;
    -fx-border-color: -fx-accent-border;
}
JFXButton.btn-brand {
    -fx-text-fill: -fx-light;
    -fx-background-color: -fx-brand;
    -fx-border-color: -fx-brand;
}
JFXButton.btn-brand:hover {
    -fx-background-color: -fx-brand-active;
    -fx-border-color: -fx-brand-border;
}

.jfx-snackbar-content {
    -fx-background-color: #ffc241;
    -fx-border: 1px;
    -fx-border-color: #ffbd31;
    -fx-border-radius: 0.25em;
    -fx-padding: 1em 2em 1em 2em;
    -fx-margin: 2em;
    -fx-background-radius: 0.25em;
}

.jfx-snackbar-action {
    -fx-background-color: #FFFFFF;
}


/*Alert Dialog*/

.custom-alert{
    -fx-text-fill: -fx-primary;
}
.custom-alert > *.label.content {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-primary;
}
.custom-alert:header .header-panel .label {
    -fx-font-style: normal;
    -fx-text-fill: -fx-primary;
}
.custom-alert:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: -fx-primary;
}
.custom-alert .button {
    -fx-text-fill: #fff;
    -fx-background-color: #5867dd;
    -fx-border-color: #5867dd;
    -fx-cursor:hand;
 }
 
 
.table-view {
    -fx-base: -fx-light;
    -fx-control-inner-background: -fx-light;
    -fx-background-color: -fx-light;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-border-width: 0 0 1 0;
    -fx-background-color: -fx-brand;
    -fx-border-color: -fx-brand;
    -fx-border-insets: 0 10 1 0;
    -fx-padding: 5;
}

.table-view .column-header .label {
    -fx-text-fill: -fx-light;
    -fx-font-size: 10pt;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view .column-header .arrow {
    -fx-background-color: -fx-light;
}
